@media (min-width: 1200px) {
  .body {
    min-height: 907px;
  }
}

.modal-body {
  flex: 1 1 auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
}

.tab-content {
  display: flex;
  flex-direction: row;
  gap: 16px;
  padding: 1rem;
  & h4 {
    font-size: 1.5rem;
    text-align: center;
  }
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.details-stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
  & span {
    font-size: 1.25rem;
  }
  & img {
    height: 60px;
  }

  .sign-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-block: 4px;
  }
}
