@media (min-width: 1200px) {
  .body {
    min-height: 907px;
  }
}

.modal-body {
  flex: 1 1 auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
}

.tab-content {
  padding: 1rem;
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info-box {
  padding: 10px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  & span {
    font-size: 1.25rem;
  }
}

.road-row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}
