@media (min-width: 1200px) {
  .body {
    min-height: 861px;
  }
}

.modalBody {
  flex: 1 1 auto;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  overflow-x: hidden;
}

.tabContent {
  padding: 1rem;
}
