.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gridContainer {
  padding: 0;
}

.title {
  margin: 0.75rem 0;
  text-align: center;
}

.loader {
  margin-top: 2rem;
}

.dataContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 2rem;

  .bar {
    padding: 0;
    flex-grow: 1;
    @media (min-width: 576px) {
      min-width: 550px;
    }
  }

  .pie {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .speeds {
    padding-top: 2.5rem;
    width: 250px;
  }

  h4 {
    margin-top: 2rem;
  }

  p {
    text-align: center;
    margin: 0;
  }
}
