.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 522px;

}

.title {
  margin-bottom: 1rem;
  text-align: center;
}

.picker {
  margin-bottom: 2rem;
}

.dataContent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .bar {
    flex-grow: 2;
  }

  h4 {
    margin-top: 2rem;
  }
}