@media (min-width: 576px) {
  .body {
    min-height: 809px;
  }
}

.modalBody {
  flex: 1 1 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}
